<section>
  <h1>Bienvenue sur CampusVoice</h1>
  <p>
    CampusVoice est une application de gestion des feedbacks étudiants.
    Les étudiants peuvent partager leurs avis sur les cours, les enseignants
    et l’infrastructure. Les enseignants et l’administration peuvent analyser
    ces feedbacks pour améliorer la qualité de la formation.
  </p>

  <p>Pour continuer :</p>

  <ul>
    <li><a routerLink="/register">Créer un compte</a></li>
    <li><a routerLink="/login">Se connecter</a></li>
  </ul>
</section>
